<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ngumpuli</title>
</head>
<body style="margin: 0 auto; max-width: 50em;">
<div style="font-family: Arial, Helvetica, sans-serif;">

    <div style="display: none;" th:text="${teaser}"></div>

    <div style="height:2px;border-bottom:1px solid #e5e5e5;"></div>

    <div style="margin-bottom:0; text-align: center; padding: 5% 5%">
        <h1 style="font-size: 30px; margin-bottom: 0">
            <a href="http://ngumpuli.com" style="text-decoration: none; color: #555">
                NGUMPULI
            </a>
        </h1>
        <p style="font-size: 20px; margin: 10px 0px; color: #555;">Kami mengumpulkan berita dan artikel populer di Indonesia dan menyajikannya kepada kamu.
            Karena kami peduli :)</p>
        <!--<p style="font-size: 20px; margin: 10px 0px">We are presenting to you the most popular news and article around
            Indonesia. Because we care about your time.</p>-->
    </div>

    <div style="height:2px;border-bottom:1px solid #e5e5e5"></div>

    <br>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
        <h3 style="font-size: 25px; margin-bottom: 0; margin-top: 0; color: #555">Artikel dan Berita Populer Saat ini</h3>
        <p style="font-size: 20px; color: #555">
            <i>
                <a href="http://ngumpuli.com" style="color: green">Ngumpuli</a>
            </i> saat ini mengumpulkan berita dan artikel populer dari <a style="color: green"
                href="https://www.tirto.id">Tirto</a> dan <a style="color: green" href="https://detik.com">Detik</a>. Kedepannya, kami
            berkomitmen untuk dapat menyajikan berita dan artikel populer dari sumber lainnya.
        </p>
    </div>

    <div style="height:2px;border-bottom:1px solid #e5e5e5"></div>

    <br>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
        <h3 style="font-size: 25px; margin-bottom: 0; margin-top: 0; color: #555">Dirangkum dari Tirto</h3>
    </div>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
    <span th:each="tirto : ${tirtos}">
      <b><p style="font-size: 15px; margin: 15px 0px 0px; color: #555" th:text="${tirto.getTitle()}"></p></b>
      <p style="font-size: 15px; margin: 10px 0px 5px; color: #555" th:text="${tirto.getSubtitle()}"></p>
      <a style="font-size: 15px; text-decoration: none; color: green;" th:href="${tirto.getUrl()}"
         th:text="selengkapnya.."></a>
    </span>
    </div>

    <br>

    <div style="height:2px;border-bottom:1px solid #e5e5e5"></div>

    <br>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
        <h3 style="font-size: 25px; margin-bottom: 0; margin-top: 0; color: #555">Dirangkum dari Detik</h3>
    </div>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
    <span th:each="detik : ${detiks}">
      <b><p style="font-size: 15px; margin: 15px 0px 0px; color: #555" th:text="${detik.getTitle()}"></p></b>
      <p style="font-size: 15px; margin: 10px 0px 5px color: #555" th:text="${detik.getSubtitle()}"></p>
      <a style="font-size: 15px; text-decoration: none; color: green;" th:href="${detik.getUrl()}"
         th:text="selengkapnya.."></a>
    </span>
        <!--<p th:each="detik : ${detiks}">
          <a th:href="${detik.getUrl()}"
             th:text="${detik.getTitle()}" th:if="${detik.getSource().equalsIgnoreCase('detikNews')}"></a>
        </p>-->
    </div>

    <br>

    <div style="height:2px;border-bottom:1px solid #e5e5e5;"></div>

    <br>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
        <h3 style="font-size: 25px; margin-bottom: 0; margin-top: 0; color: #555">Apa itu Ngumpuli?</h3>
        <p style="font-size: 20px; color: #555">
            <i><a href="http://ngumpuli.com" style="color: green">Ngumpuli</a></i> adalah sebuah layanan yang mengumpulkan berita dan artikel populer dari berbagai sumber dan
            menyajikan rangkumannya setiap hari ke alamat email kamu.
        </p>
    </div>

    <div style="height:2px;border-bottom:1px solid #e5e5e5"></div>

    <br>

    <div style="margin-bottom:0; text-align: left; padding-left: 5%; padding-right: 5%">
        <h3 style="font-size: 25px; margin-bottom: 0; margin-top: 0; color: #555">Apa untungnya berlangganan Ngumpuli?</h3>
        <p style="font-size: 20px; color: #555">
            Salah satu keuntungan berlangganan <a href="http://ngumpuli.com" style="color: green"><i>Ngumpuli</i></a> adalah
            kamu bisa tetap produktif sekaligus <i>up to date</i>! Kamu cukup duduk manis,
            rangkuman berita dan artikel dari kami akan otomatis terkirim ke alamat email kamu.
        </p>
        <p style="font-size: 20px; color: #555">
            Tertarik? Hit <a style="text-decoration: none; color: green;" th:href="${subscribeUrl}"
                             th:text="Subscribe"></a>!
        </p>
    </div>

    <br>
    <br>

    <div style="height:2px;border-bottom:1px solid #e5e5e5"></div>

    <div style="margin-top:10px; text-align: center;">
        <span style="color: #555">Thanks and Regards</span>
        <br>
        <span style="color: #555">Reiza - Ngumpuli</span>
        <br>
        <span style="color: #555">Dirangkum pada: </span><span style="color: #555" th:text="${message}"></span>
        <br>
        <span>
        <a style="font-size: 15px; text-decoration: none; color: green;" th:href="${subscribeUrl}"
           th:text="Subscribe"></a> |
        <a style="font-size: 15px; text-decoration: none; color: green;" th:href="${unsubscribeUrl}"
           th:text="Unsubscribe"></a>
    </span>
    </div>
</div>
</body>
</html>